<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type='text/css' href="./css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,vietnamese'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div id="app"></div>
<script type="text/template" id="app-template">
    <div class="container">
        <top-header></top-header>
        <div class="body">
            <list :collection="listState.items"></list>
        </div>
    </div>
</script>

<script type="text/template" id="item-template">
    <div class="item" :class="{editting:isEditting || model.isNew}" @dblclick="turnEditting">
        <div class="tag hide-on-editting" :style="{background:model.color}"></div>
    <select class="color-selector tag show-on-editting" :style="{background:model.color, color:model.color}" v-model="model.color">
        <option value="#FF5A5A" style="background:#FF5A5A">Important</option>
        <option value="#ffc62e" style="background:#ffc62e">Normal</option>
        <option value="#4A90E2" style="background:#4f8274">Whatever</option>
    </select>
        <span class="title hide-on-editting" v-text="model.title"></span>
        <input v-model="model.title" class="title input show-on-editting" type="text" @keyup.enter="save">
        <div class="actions">
            <div class="done hide-on-editting" @click="done">
                <svg width="18px" height="15px" viewBox="0 -1 18 15" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon id="Shape" stroke="none" fill="#757575" fill-rule="evenodd"
                             points="5.6 10.6 1.4 6.4 0 7.8 5.6 13.4 17.6 1.4 16.2 -8.8817842e-16"></polygon>
                </svg>
            </div>
            <div class="done show-on-editting" @click="save">
                <svg width="18px" height="18px" viewBox="264 16 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon id="Shape" stroke="none" fill="#757575" fill-rule="evenodd"
                             points="274.285714 26.2857143 274.285714 34 271.714286 34 271.714286 26.2857143 264 26.2857143 264 23.7142857 271.714286 23.7142857 271.714286 16 274.285714 16 274.285714 23.7142857 282 23.7142857 282 26.2857143"></polygon>
                </svg>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="list-template">
    <div class="list">
        <item v-for="item in collection" :model="item"></item>
    </div>
</script>

<script type="text/template" id="header-template">
    <div class="header">
        <div class="mountains">
            <svg width="259px" height="232px" viewBox="-67 5 259 232" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <polygon id="path-1" points="163 50 249 222 77 222"></polygon>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1"
                                        result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                    </filter>
                    <polygon id="path-3" points="127 25 213 197 41 197"></polygon>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
                        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1"
                                        result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                    </filter>
                    <polygon id="path-5" points="86 0 172 172 0 172"></polygon>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-6">
                        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1"
                                        result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix"
                                       in="shadowBlurOuter1"></feColorMatrix>
                    </filter>
                </defs>
                <g id="Group-9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                   transform="translate(-62.000000, 10.000000)">
                    <g id="Triangle-1-Copy-2">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g>
                    <g id="Triangle-1-Copy">
                        <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                    </g>
                    <g id="Triangle-1">
                        <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
                    </g>
                </g>
            </svg>
        </div>
        <div class="stats">
            <div class="hours">
                <span class="big" v-text="hoursRemain"></span><span class="small">hours</span>
            </div>
            <div class="and">
                <span>&</span>
            </div>
            <div class="tasks">
                <span class="big" v-text="taskRemain"></span><span class="small">Tasks</span>
            </div>
        </div>
        <div class="add-new" @click="add">
            <svg width="14px" height="14px" viewBox="18 18 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <polygon id="Shape" stroke="none" fill="#B3D6FF" fill-rule="evenodd" points="32 26 26 26 26 32 24 32 24 26 18 26 18 24 24 24 24 18 26 18 26 24 32 24"></polygon>
            </svg>
        </div>
        <div class="overlay" :style="{width:hoursRemainPercent+'%'}"></div>
    </div>
</script>

<script src="./js/script.js"></script>
</body>
</html>
